*.gz
*.aux
*.out
*.log
*.dvi
papers/IROS2015automaticSwarm/SwarmControlWithGlobalInputs.pdf

*.blg

*.m~

papers/ICRA2016/ShapingSwarmFrictionSharedInput.pdf

papers/ICRA2016/ShapingSwarmFrictionSharedInput.pdf



papers/RSS2016/ShapingSwarmFrictionSharedInput.pdf

papers/Case2016/TorqueControl.pdf
